<a href="https://colab.research.google.com/github/Pedroo97/Pedroo97/blob/main/Tratamento_de_erros_e_exce%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Tratamento de erros e exceções

- NameError: variável nao foi definida
- TypeError: tipos de dados incompatíveis
- RuntimeError: erro de execução
- SyntaxError: sintaxe digitada é inválida e não reconhecida pelo interpretador
- ZeroDivisionError: divisão por zero
- IndexError: índice está fora da coleção

## Tipos de erros

In [ ]:
3 = 4

SyntaxError: ignored

In [ ]:
print('Meu nome é', nome)

NameError: ignored

In [ ]:
print(3 / 0)

ZeroDivisionError: ignored

In [ ]:
2.3 / 'cachorro'

TypeError: ignored

In [ ]:
c = [1,2,3,4,5]
c

[1, 2, 3, 4, 5]

In [ ]:
c[5]

IndexError: ignored

## Tratamento de erros

In [1]:
try:   #tenta executar todo código abaixo
  n = int(input('Digite um número inteiro: '))  #INT usado para buscar um numero inteiro para calculos 
except:   #usado para tratamento de exceções
  print('Valor inválido')
else: #caso o valor seja correto
  print(f'Valor digitado é {n}')

Digite um número inteiro: 8
Valor digitado é 8

In [2]:
while True: #loop infinito
  try:
    n = int(input('Digite um número inteiro: '))
  except:
    print('Valor inválido')
  else:
    print(f'Valor digitado é {n}')
    break #usado para sair do while ou seja loop infinito

Digite um número inteiro: 78
Valor digitado é 78

In [3]:
while True:
  try:
    p = int(input('Digite um número inteiro'))
  except ValueError:
    print('Valor inválido')
  except KeyboardInterrupt:  #usuario pode forçar a interrupção
    print('Usuário interrompeu a execução')
    break
  else:
    print(f'Valor digitado é {p}')
    break

Digite um número inteirop
Valor inválido
Digite um número inteirom
Valor inválido
Digite um número inteiro8
Valor digitado é 8